site:
  title: Solutions Delivery Platform
  url: https://boozallen.github.io/sdp-docs/
  start_page: overview::index.adoc
  keys: 
    google_analytics: 'UA-144247959-2'
content:
  sources:
  - url: https://github.com/boozallen/sdp-docs.git
    branches: master
    start_paths: [ overview, learning-labs ]

  - url: https://github.com/jenkinsci/templating-engine-plugin.git
    branches: '2.0' 
    tags: [ '*', '!1.0*', '!1.1*', '!v1.2', '!1.v2*', '!1.3*', '!1.4*', '!1.5*' ]
    start_path: docs

  - url: https://github.com/boozallen/sdp-libraries.git
    branches: [ master ]
    tags: [ '*', '!v1.0' ]
    start_path: docs 
    
  - url: https://github.com/boozallen/sdp-iac.git
    branches: master
    start_path: deployment-guides
ui: 
  bundle: 
    url: https://github.com/boozallen/sdp-docs-skin/releases/download/1.1/ui-bundle.zip
    snapshot: true
  supplemental_files:
  - path: .nojekyll
  - path: googleb68ed66af787ac15.html
    contents: 'google-site-verification: googleb68ed66af787ac15.html'
  - path: ui.yml
    contents: "static_files: [ .nojekyll, googleb68ed66af787ac15.html ]"
