name: Publish
on:
  push:
    branches: master
  schedule: 
    - cron: '0 20 * * *'
jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'boozallen/sdp-docs'
    steps:
    - name: Checkout Code
      uses: actions/checkout@v1
    - name: Build Docs 
      run: make docs
    - uses: mikeal/publish-to-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
